<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminbrand</title>
</head>
<body>
    {{ form_start(brandForm)}}

    {{form_label(brandForm.name,'nom de la marque :', {'label.attr': {'class':'label'}})}}
    {{form_widget(brandForm.name, { 'att' : {'placeholder' : 'nom de la marque ', 'class':'name'}})}}

    {{form_label(brandForm.description,'description de la marque  :', {'label.attr': {'class':'label'}})}}
    {{form_widget(brandForm.description, { 'att' : {'placeholder' : 'description de la marque '}})}}

   
    {{form_widget(brandForm.submit, { 'att' : {'label' : 'Enregistrer'}})}}

    {{ form_end(brandForm) }}

</body>
</html>
